@font-face {
    font-family: 'vazir';
    src: url('../font/vazir.eot') format('eot'),
         url('../font/vazir.ttf')  format('truetype'),         
         url('../font/vazir.woff') format('woff'), 
         url('../font/vazir.woff2') format('woff2'),         
         url('webfont.svg#svgFontName') format('svg');
  }
  *{
    margin: 0;
    padding: 0;
  
  }
  
  body{
    font-family:'vazir' ;
  
    margin: 0;
    padding: 0;
  }
 
  header{
    margin-top: 0;
    background-image: url('../images/3.jpg') ;
     
		background-size: cover;
		position: relative;
   height: 125vh;
   
  }
 
  

  header nav{
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 60px;
    
  
  }
  
  header nav ul{
   
    text-align: center;
  
  }
  
  header nav ul li{
  display: inline-block;
  margin: 0px 25px 0px 15px;
  line-height: 2;
  
  }
  
  header nav ul li a{
     text-decoration: none;
     color: white;
     text-align: center;
    font-size: 17px;
    font-weight: bold;
	height: 70px;
	line-height: 40px;
  }
  header nav ul li a:hover{
    background-color: #ddd;
    color: black;
    }
  

  header .back-ground{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 40px;
    color: #f1f1f1;
  
  }
  
  .first_fill{
    display: flex;
    justify-content: center;
    
  }
  fieldset .first_div{
  
    width: 400px;
    height: 500px;
  }
  
  fieldset .secend_div{
    
    width: 800px;
    height: 500px;
    font-size: 21px;
  }
  #im{
    width: 350px;
    height: 400px;
    margin-top: 40px;
  }
  fieldset{
   border: 0;
  }

  #portfolio {
    background: #ebeeee;
    padding-top: 90px;
    padding-bottom: 60px;
   
 }
#divv{
  display: flex;
  justify-content: space-around;
  width: 1150px;
  margin: auto;
}
 #portfolio h1 {
    font: 15px/24px 'opensans-semibold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 48px;
    color: #95A3A3;
 }

 /* Portfolio Content */
 #portfolio-wrapper .columns { margin-bottom: 36px; }
 .portfolio-item .item-wrap {
    background: #fff;
    overflow: hidden;
    position: relative;
 
    -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
 }
 .portfolio-item .item-wrap a {
    display: block;
    cursor: pointer;
 }
 
 /* overlay */
 .portfolio-item .item-wrap .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
 
   opacity: 0;
   -moz-opacity: 0;
   filter:alpha(opacity=0);
 
    -webkit-transition: opacity 0.3s ease-in-out;
   -moz-transition: opacity 0.3s ease-in-out;
   -o-transition: opacity 0.3s ease-in-out;
   transition: opacity 0.3s ease-in-out;
 
    background: url(../images/overlay-bg.png) repeat;
 }

 .portfolio-item .item-wrap img {
    vertical-align: bottom;
    width: 250px;
    height: 250px;
 }
 .portfolio-item .portfolio-item-meta { padding: 18px }
 .portfolio-item .portfolio-item-meta h5 {
    font: 14px/21px 'opensans-bold', sans-serif;
    color: #fff;
 }
 .portfolio-item .portfolio-item-meta p {
    font: 12px/18px 'opensans-light', sans-serif;
    color: #c6c7c7;
    margin-bottom: 0;
 }
 
 /* on hover */
 .portfolio-item:hover .overlay {
   opacity: 1;
   -moz-opacity: 1;
   filter:alpha(opacity=100);
 }
